<nav class="navbar navbar-default">
    <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}} Home {{/link-to}}
        <ul class="nav navbar-nav">
            <li>
                {{#link-to 'posts' }} Posts{{/link-to}}
            </li>
            <li>
                {{#link-to 'about' }} About {{/link-to}}
            </li>
        </ul>
    </div>
</nav>
