<div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
        <div class="container">
            {{#link-to 'index' class="brand"}} Ember Rails Auth {{/link-to}}
            <ul class="nav">
                <li>
                    {{#link-to 'posts' }} Posts{{/link-to}}
                </li>
                <li>
                    {{#link-to 'about' }} About {{/link-to}}
                </li>
            </ul>
        </div>
    </nav>
</div>
