{{partial 'navigation'}}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="span12">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
